.idea/
node_modules/
build/
*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
authentication/migrations/0004_user_jwt_secret.py
authentication/migrations/0004_user_jwt_secret.pyc
authentication/migrations/0005_auto_20180218_1636.py
authentication/migrations/0005_auto_20180218_1636.pyc
company/__init__.pyc
company/admin.pyc
company/migrations/__init__.pyc
company/models.pyc
company/urls.pyc
company/views.pyc
src/Common/
